@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import "./normalize.css";
@import "./grid.css";
@import "./animate.css";
@import "./misc.css";

* {
  font-family: 'PT Sans', sans-serif;
}

.header {
  background: cornflowerblue;
  color: #fff;
}

.app-logo {
  color: inherit;
}
